NEXTAUTH_URL=http://localhost:3000
POSTGRES_URL="postgresql://postgres:postgres@localhost:5432/notes_app"
NEXTAUTH_SECRET=
POSTGRES_PORT=5432
# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
